.app_background {
  	background-image: url("../src/images/everlane.jpg");
  	width: 100%;
  	height: 900px;
  	background-position: center; /* css trick to get full background image */
  	background-size: cover; /* image will be centered no matter how wide the screen is */
}

.searchBar_wrapper {
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 150px;
}

.searchBar {
	margin-top: 200px;
}

.view_tweets {
	margin-top: 100px;
}

.noMatches {
	color: #00BCD4;
	text-align: center;
}